description "{{app_name}} server config"

start on started {{app_name}}
stop on stopped {{app_name}}

pre-start script
  mkdir -p /var/log/unicorn
  chown www-data. /var/log/unicorn

  mkdir -p /var/run/unicorn
  chown www-data. /var/run/unicorn
end script

chdir /var/www/{{app_name}}/current/
respawn

exec sudo -u www-data sh -c "bundle exec unicorn -c /etc/unicorn/{{app_name}}.conf -E production"
