description "{{app_name}} server config"

pre-start script
  mkdir -p /var/log/unicorn
  chown www-data. /var/log/unicorn

  mkdir -p /var/run/unicorn
  chown www-data. /var/run/unicorn
end script

start on runlevel [23]
stop on shutdown

exec sudo -u www-data sh -c "cd /var/www/{{app_name}}/current && RAILS_ENV=production bundle exec unicorn -c /etc/unicorn/{{app_name}}.conf"

respawn
