listen "/tmp/{{ app_name }}.sock", :backlog => 64
worker_processes {{ unicorn_workers }}
timeout {{ unicorn_timeout }}
preload_app true

pid "/var/run/unicorn/{{ app_name }}.pid"
stdout_path "/var/log/unicorn/{{ app_name }}.log"
stderr_path "/var/log/unicorn/{{ app_name }}-errors.log"
working_directory "/var/www/{{ app_name }}/current"
